---
---
<style>
    .custom-shadow-top {
      box-shadow: 0px -4px 8px 0 rgb(122, 221, 102), /* sombra verde */
                  0px -8px 16px 2px rgb(92, 162, 235); /* sombra azul */
    }
</style>
<footer class="flex justify-center items-center bg-[#080808] fixed bottom-0 left-0 w-[100%] h-[10%] custom-shadow-top p-[2%]">
   <p class="text-gray-100 text-lg">
   © 2024 CodeAlchemyHubPro. <span class="block">Todos los derechos reservados.</span>
  </p>
</footer>
