---
---
<style>
    .custom-shadow-bottom {
      box-shadow: 0px 8px 16px 2px rgba(0, 255, 255, 0.7); /* sombra azul */
    }
</style>
<header>
  <h1 class="flex items-center justify-center text-white fixed bg-[#080808] top-0 w-[100%] h-[8%] right-0 text-base sm:text-lg md:text-lg lg:text-xl xl:text-2xl font-bold custom-shadow-bottom">CodeAlchemyHub.Pro</h2>
</header>
