---
---
<style>
    .custom-shadow-bottom {
      box-shadow: 0px 4px 8px 0 rgb(122, 221, 102), /* sombra verde */
                  0px 8px 16px 2px rgb(92, 162, 235); /* sombra azul */
    }
</style>
<header>
  <h1 class="flex items-center justify-center text-white fixed bg-[#080808] top-0 w-[100%] h-[8%] right-0 text-base sm:text-lg md:text-lg lg:text-xl xl:text-2xl font-bold custom-shadow-bottom">CodeAlchemyHub.Pro</h2>
</header>
