---
import astroLogo from '../assets/astro.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<img src={astroLogo.src} width="200" height="150" alt="Astro Logo" id="logo" />
			<h1>¡Estamos construyendo algo emocionante!</h1>
			<p>Pronto lanzaremos una plataforma innovadora para ti. Mantente atento a las novedades.</p>
		</section>
	</main>
</div>

<style>
	/* Fondo difuminado */
	#background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		filter: blur(50px);
	}

	/* Contenedor principal */
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', Arial, sans-serif;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-direction: column;
		backdrop-filter: blur(10px);
	}

	/* Logo */
	#logo {
		margin-bottom: 20px;
	}

	/* Encabezado */
	h1 {
		font-size: 2rem;
		color: white;
		margin-bottom: 10px;
	}

	/* Mensaje */
	p {
		font-size: 1.2rem;
		color: white;
	}
</style>
